@import './../../theme/alpha/variables';

// {{ properCase name }}
//
// The {{ properCase name }} component explination
//
// Markup:
// <div class="{{ properCase name }}">
//   demo
// </div>
//
// Styleguide {{ properCase name }}



// NOTICE - ALL styles for {{ properCase name }} MUST be defined inside of this parent container
// and follow the BEM methadology http://getbem.com/introduction/
.{{ properCase name }} {{curly true}}
{{curly}}

